<header class="header">
  <nav class="nav nav--tours">
    <a href="/" class="nav__el">All tours</a>
    <!-- <form class="nav__search">
            <button class="nav__search-btn">
                <svg>
                    <use xlink:href="img/icons.svg#icon-search"></use>
                </svg>
            </button>
            <input type="text" placeholder="Search tours" class="nav__search-input" />
        </form> -->
  </nav>
  <div class="header__logo">
    <img src="/img/logo-white.png" alt="Vakate logo" />
  </div>
  <nav class="nav nav--user">
    <% if (user) {%>
    <a href="#" class="nav__el nav__el--logout">Logout</a>
    <a href="#" class="nav__el">
      <img
        src="/img/users/<%= user.photo %>"
        alt="Photo of <%= user.photo %>"
        class="nav__user-img"
      />
      <span><%= user.name.split(' ')[0] %></span>
    </a>
    <% } else {%>
    <a href="/login" class="nav__el">Log in</a>
    <!-- <button class="nav__el nav__el--cta">Sign up</button> -->
    <% }%>
  </nav>
</header>
