<%- include('inc/header.ejs') %>
<!-- <section class="overview"> -->
<main class="main">
    <div class="card-container">
        <% if (tours.length) { %>
        <% tours.forEach( tour =>  { %>
        <%-  include('inc/_tourCard.ejs', {tour} ) %>
        <% }) %>
        <% } %>
    </div>
</main>

<%- include('inc/footer.ejs') %>